<div class="white_wrapper" ng-controller="homeController">
  <div class="row">
    <div class="col-md-12">
      <div class="center-lg mlr-auto">
        <a href="" class="logo">
          <img src="assets/images/un-logo-en.gif" alt="logo" title="United Nations Careers" class="
          img-fluid">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="BannerSlider center-lg mlr-auto">
        <ul class="slider-for">
          <li>
            <img src="assets/images/PSBanner_EN_1.jpg" />
          </li>
          <li>
            <img src="assets/images/HRBanner_EN_1.jpg" />
          </li>
          <li>
            <img src="assets/images/DPBanner_EN_1.jpg" />
          </li>
        </ul>
        <ul class="slider-nav">
          <li>
            <span>Peace and Security</span>
          </li>
          <li>
            <span>Human Rights</span>
          </li>
          <li>
            <span>Economic and Social Development</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12">
      <div class="whitebg-heading">
        <span>Meet our Global Workforce</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="banner-bottom-slide-wrap">
        <ul class="banner-bottom-slider">
          <li>
            <img src="assets/images/GetImage(1).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(2).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(3).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(4).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(5).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(6).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(7).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(8).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(9).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(10).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(11).gif" class="full-image">
          </li>
          <li>
            <img src="assets/images/GetImage(12).gif" class="full-image">
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-12 footer-links">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <ul class="career-column">
            <li class="career-column-head">
              <span>Why work at UN?</span>
            </li>
            <li>
              <a href="">Who we are</a>
            </li>
            <li>
              <a>What we do</a>
            </li>
            <li>
              <a href="">Where we are</a>
            </li>
            <li>
              <a href="">Career support</a>
            </li>
            <li>
              <a href="">Pay and benefits</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul class="career-column">
            <li class="career-column-head">
              <span>What can I do at UN?</span>
            </li>
            <li>
              <a href="">What we look for</a>
            </li>
            <li>
              <a href="">Job Networks</a>
            </li>
            <li>
              <a href="">Career paths</a>
            </li>
            <li>
              <a href="">Working in the field</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul class="career-column">
            <li class="career-column-head">
              <span>What are my career options?</span>
            </li>
            <li>
              <a href="">Staff categories</a>
            </li>
            <li>
              <a href="">Young professionals programme</a>
            </li>
            <li>
              <a href="">Competitive examinations for language professionals</a>
            </li>
            <li>
              <a href="">Global General Service Test</a>
            </li>
            <li>
              <a href="">Junior Professional Officer Programme</a>
            </li>
            <li>
              <a href="">Volunteer programme</a>
            </li>
            <li>
              <a href="">Internship programme</a>
            </li>
            <li>
              <a href="">Temporary jobs</a>
            </li>
            <li>
              <a href="">Consultants</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6">
          <ul class="career-column-last">
            <li class="career-column-head">
              <span>How do I apply?</span>
            </li>
            <li>
              <a href="">Job openings</a>
            </li>
            <li>
              <a href="">Creating your job application</a>
            </li>
            <li>
              <a href="">Application process</a>
            </li>
            <li>
              <a href="">At your interview</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="whitebg-heading">
        <span>Search Job Openings</span>
      </div>
    </div>
    <div class="col-md-12">
      <div class="search-opening-form mlr-auto">
        <div class="row">
          <div class="col-md-7">
            <div class="form-group has-seprator">
              <label>Category:</label>
              <select>
                <option selected="selected" value="-1">All</option>
                <option value="PD">Professional and Higher Categories </option>
                <option value="FS">Field Service</option>
                <option value="GS">General Service and Related Categories</option>
                <option value="NPO">National Professional Officers</option>
                <option value="INT">Internship</option>
                <option value="CON">Consultants</option>
              </select>
            </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <label>Level:</label>
              <select>
                <option>All</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-seprator">
              <label>Job Network:</label>
              <select>
                <option value="-1">All</option>
                <option selected="selected" value="DEVNET">Economic, Social and Development</option>
                <option value="ITECNET">Information and Telecommunication Technology</option>
                <option value="SAFETYNET">Internal Security and Safety</option>
                <option value="LEGALNET">Legal</option>
                <option value="LOGNET">Logistics, Transportation and Supply Chain</option>
                <option value="MAGNET">Management and Administration</option>
                <option value="POLNET">Political, Peace and Humanitarian</option>
                <option value="INFONET">Public Information and Conference Management</option>
                <option value="SCINET">Science</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Job Family:</label>
              <select>
                <option value="-1">All</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Department/Office:</label>
              <select>
                <option selected="selected" value="-1">All</option>
                <option value="61448814">AU/UN Hybrid Operation in Darfur</option>
                <option value="79247924">Counter-Terrorism Committee Executive Directorate</option>
                <option value="27342734">Department for General Assembly and Conference Management</option>
                <option value="35583558">Department of Economic and Social Affairs</option>
                <option value="87248724">Department of Field Support</option>
                <option value="24602460">Department of Peacekeeping Operations</option>
                <option value="17941794">Department of Political Affairs</option>
                <option value="04520452">Department of Public Information</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label>Duty Station:</label>
              <select>
                <option selected="selected" value="-1">All</option>
                <option value="3213">ABUJA</option>
                <option value="402EE">ABYEI</option>
                <option value="1410">ADDIS ABABA</option>
                <option value="2390">ALMATY (ALMA ATA)</option>
                <option value="2340">AMMAN</option>
                <option value="4551">ARUSHA</option>
                <option value="1650">ATHENS</option>
                <option value="2130">BAGHDAD</option>
                <option value="0310">BAKU</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label>By date posted:</label>
              <select>
                <option selected="selected" value="-1">All</option>
                <option value="1">Within last 24 hrs</option>
                <option value="7">Within last 7 days</option>
                <option value="30">Within last 30 days</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group action-btns">
              <a href="">Search</a>
              <a href="">Reset</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="whitebg-heading">
        <span>Stay Connected</span>
      </div>
    </div>
    <div class="col-md-12 social_links">
      <ul class="clearfix">
        <li>
          <a href="http://www.facebook.com/UN.Careers" class="Facebook tmiddle" target="_blank">Facebook</a>
        </li>
        <li>
          <a href="http://twitter.com/un_careers" class="Twitter tmiddle" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/united-nations" class="Linked-In tmiddle" target="_blank">Linked In</a>
        </li>
        <li>
          <a href="http://www.flickr.com/photos/un_photo/" class="Flickr tmiddle" target="_blank">Flickr</a>
        </li>
        <li>
          <a href="http://www.youtube.com/user/unitednations?blend=3&amp;ob=4" class="You-Tube tmiddle" target="_blank">You Tube</a>
        </li>
        <li>
          <a href="jobfeed.aspx" class="RSSFeed tmiddle" target="_blank">RSS Feed</a>
        </li>
      </ul>
    </div>
  </div>
</div>