<div ng-controller="privacyNoticeController" ng-init='privacynoticeUserInit()'>
    <div class="row">
        <div class="col-md-12 Inner-Banner" ng-if='bannerData'>
            <img ng-src="{{bannerData.description}}" class="full-image">
        </div>

        <div class="inner-cont-box col-md-12 whoweare-desc">
            <div class="per-info-mainbox" ng-if="leftData.length">
                <div class="per-info-xboxcontent">
                    <ul>
                        <li ng-repeat="data in leftData track by data.sequence">
                            <span ng-show="data.descriptionType=='Text'" ng-bind-html="returnDescription(data.description)"></span>
                            <span ng-show="data.descriptionType=='Video'">
                                <p><a href='{{baseUrl}}{{data.description}}' target="_blank"><video ng-src="{{data.description}}"
                                            width="200px"></video></a></p>
                            </span>
                            <span ng-show="data.descriptionType=='Image'">
                                <p><a href='{{baseUrl}}{{data.description}}' target="_blank"><img ng-src="{{data.description}}"
                                            width="200px" /></a></p>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="per- content-mainbox clearfix">
                <span ng-repeat="data in topData track by data.sequence" ng-if="topData.length">
                    <span ng-if="data.descriptionType=='Text'" ng-bind-html="returnDescription(data.description)">
                    </span>
                    <span ng-if="data.descriptionType=='Image'">
                        <img class="imgdet" ng-src="{{data.description}}" />
                    </span>
                    <span ng-if="data.descriptionType=='Video'">
                        <video class="imgdet" ng-src="{{data.description}}"> </video>
                    </span>
                    <br>
                </span>
                <span ng-if="bottomData.length">
                    <span ng-repeat="data in bottomData track by data.sequence">
                        <span ng-if="data.descriptionType=='Text'" ng-bind-html="returnDescription(data.description)">
                        </span>
                        <span ng-if="data.descriptionType=='Image'">
                            <img class="imgdet" ng-src="{{data.description}}" />
                        </span>
                        <span ng-if="data.descriptionType=='Video'">
                            <video class="imgdet" ng-src="{{data.description}}"> </video>
                        </span>
                    </span>
                    <br>
                </span>
            </div>
            <br>
        </div>
        <div ng-include="'/app/views/sections.html'">
        </div>
    </div>
</div>