<div class="col-md-12 inner-footer-links">
        <div class="col-md-12 footer-links">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <ul class="career-column">
                <li class="career-column-head"><span>{{currentLanguage=='English' ? 'Why work at UN?' : 'Pourquoi travailler à l’ONU?'}}</span></li>
                <li><a href="">{{currentLanguage=='English' ? 'Who we are' : 'Qui sommes-nous?'}}</a></li>
                <li><a ui-sref='whatwedo'>{{currentLanguage=='English' ? 'What we do' : 'Que faisons-nous?'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Where we are' : 'Où agissons-nous?'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Career support' : 'Accompagnement des carrières à l’ONU'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Pay and benefits' : 'Rémunération et prestations'}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <ul class="career-column">
                <li class="career-column-head"><span>{{currentLanguage=='English' ? 'What can I do at UN?' : 'Que pourrais-je faire à l’ONU?'}}</span></li>
                <li><a href="">{{currentLanguage=='English' ? 'What we look for' : 'Ce que nous recherchons'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Job Networks' : 'Réseaux professionnels'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Career paths' : 'Parcours professionnels'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Working in the field' : 'Travail sur le terrain'}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <ul class="career-column">
                <li class="career-column-head"><span>{{currentLanguage=='English' ? 'What are my career options?' : 'Quelles sont les possibilités de carrière qui s’offrent à moi?'}}</span></li>
                <li><a href="">{{currentLanguage=='English' ? 'Staff categories' : 'Catégories de personnel'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Young professionals programme' : 'Programme jeunes administrateurs'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Competitive examinations for language professionals' : 'Concours de recrutement de personnel linguistique'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Global General Service Test' : ' Test d’aptitude standardisé pour les services généraux'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Junior Professional Officer Programme' : 'Programme des administrateurs auxiliaires'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Volunteer programme' : 'Programme de volontariat'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Internship programme' : 'Programme de stages'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Temporary jobs' : 'Emplois temporaires'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Consultants' : 'Consultants'}}</a></li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6">
              <ul class="career-column-last">
                <li class="career-column-head"><span>{{currentLanguage=='English' ? 'How do I apply?' : 'Comment poser ma candidature?'}}</span></li>
                <li><a href="">{{currentLanguage=='English' ? 'Job openings' : 'Postes à pourvoir'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Creating your job application' : 'Votre dossier de candidature'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'Application process' : 'Procédure de candidatureProcédure de candidature'}}</a></li>
                <li><a href="">{{currentLanguage=='English' ? 'At your interview' : 'À l’entretien'}}</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>