.BannerSlider .slick-slide,
.banner-bottom-slide-wrap .slick-slide {
    height: auto !important;
}

.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #333333;
    line-height: 1.5;
}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #f2f2f2;
}

.wrap-login100 {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login100-form {
    width: 100%;
}

.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}

.login100-form-title i {
    font-size: 60px;
}

/*------------------------------------------------------------------
  [ Input ]*/

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #adadad;
    margin-bottom: 37px;
}

.input100 {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0 5px;
}

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #6a7dfe;
    background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    background: -o-linear-gradient(left, #21d4fd, #b721ff);
    background: -moz-linear-gradient(left, #21d4fd, #b721ff);
    background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::after {
    top: -15px;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::after {
    top: -15px;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

/*---------------------------------------------*/

.btn-show-pass {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    padding-right: 5px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-show-pass:hover {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
    color: #6a7dfe;
    color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
    color: -o-linear-gradient(left, #21d4fd, #b721ff);
    color: -moz-linear-gradient(left, #21d4fd, #b721ff);
    color: linear-gradient(left, #21d4fd, #b721ff);
}

/*------------------------------------------------------------------
  [ Button ]*/

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
    cursor: pointer;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
}

.login100-form-bgbtn {
    position: absolute;
    z-index: -1;
    width: 300%;
    height: 100%;
    background: #a64bf4;
    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
    top: 0;
    left: -100%;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.login100-form-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}

textarea:focus,
input:focus {
    border-color: transparent !important;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

.navbar.dashboard {
    padding-right: 30px;
    padding-left: 30px;
}

.navbar.dashboard {
    border: 0;
    font-size: 16px;
    border-radius: 0;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.96);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 15px;
}

.nav-item.dropdown {
    cursor: pointer;
}

.modalbutton {
    float: right;
}

.tabledata {
    cursor: pointer;
}

.create-user {
    float: right;
    cursor: pointer;
    margin: 10px;
}

.white-text {
    color: #fff !important;
}

.headingforparagraph {
    font-size: 27px;
    padding: 15px;
}

.dashboard-container {
    height: 100vh;
}

.description-type {
    margin: 10px;
}

.description-radio {
    margin-left: 15%;
}

.alignment-radio {
    margin-left: 15%;
}

.language-radio {
    margin-left: 11%;
}

p {
    word-spacing: 5px;
}

.leftcol {
    float: left;
    clear: none;
    padding-right: 40px;
}

.ImportantList {
    margin: 0 0 13px;
}

.ImportantList li {
    color: #828689 !important;
    font-size: 14px;
    list-style-type: none;
    display: flex;
}

.ImportantList li .goalItem {
    width: 8%;
}

.ImportantList li .subItem {
    padding-left: 65px;
    width: 800px;
}

#UNEntities {
    margin: 0;
    padding: 0;
    color: #6999C9 !important;
    cursor: pointer;
}

.entitymodal {
    text-decoration: none !important;
}

.fullscreen-modal {
    max-width: 80%;
}

.UNEntitiesIcon {
    float: left;
    clear: none;
    padding-right: 10px;
}

.UNEntitiesTxt {
    width: 200px;
    float: left;
    clear: none;
    padding-right: 0;
    font-size: 12px;
    margin-top: 5px;
}

.entitylist {
    float: left;
}

.modal-close-button {
    float: right;
    cursor: pointer;
}

.alignment-radio-wwa {
    margin-left: 6%;
}

.WWAwhitespace {
    width: 100%;
    height: 330px;
}

.WWAcaption2 {
    width: 50%;
    position: relative;
    top: -15px;
    float: left;
    padding: 30px 0 0 40px;
    color: #828689;
}

.imgdet {
    width: 242px;
    height: 94px;
    background-position: left;
    padding: 10px;
}

.whowearegraph {
    padding: 3px;
    margin: 9px;
}

.WWAcaption3 {
    width: 300px;
    position: relative;
    color: #828689 !important;
    padding-top: 25px;
}

.whoweare-heading {
    margin-bottom: 5%;
}

.WWAcaption1 {
    width: 50%;
    top: 5px;
    float: right;
    padding: 12px 40px 0 0;
    color: #828689;
}

.imgpie {
    height: 195px;
    left: 0;
    margin-top: 50px;
}

.per-info-xboxcontent {
    border: 1px solid #e3e3e3;
    border-radius: 7px;
    padding: 10px;
    padding: 15px;

}

.whoweare-desc {
    padding-top: 10px !important;
}

.right-person-heading {
    float: right;
    padding-right: 27px;
}

.WWAcaption4 {
    padding: 10px 37% 10px 5px;
}

.WWAPiechart {
    position: absolute;
}

.WWAPieChartValues {
    margin-top: 35%;
}

.WWABlueP {
    color: #6999C9 !important;
    font-weight: 400;
}

.iconclass {
    margin-right: 10px;
    color: #6999C9;
}

.bulletlist6 {
    color: #828689 !important;
    margin-left: 20px;
}

.bulletlist6 li {
    color: #828689 !important;
    padding: 2px 0 2px 15px;
}

.careersupportLeftCol {
    padding-right: 25px;
}

.paddingclass-nav {
    padding-right: 10%;
}