<nav class="navbar dashboard navbar-expand-lg " color-on-scroll="500" ng-controller="dashboardController">
  <div class=" container-fluid  ">
    <a class="navbar-brand" href="#pablo"> Dashboard </a>
    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="nc-icon nc-palette"></i>
            <span class="d-lg-none">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nc-icon nc-zoom-split"></i>
            <span class="d-lg-block">&nbsp;Search</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="no-icon">Menu</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" ui-sref='adminUsers'>User Management</a>
            <a class="dropdown-item" ui-sref='adminGallery'>Manage Gallery</a>
            <a class="dropdown-item">Manage Home page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pablo">
            <span class="no-icon">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-white dashboard-container">
  <div class="col-md-12 footer-links">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <ul class="career-column">
          <li class="career-column-head">
            <span>Manage Why work at UN?</span>
          </li>
          <li>
            <a ui-sref="adminWhoWeAre">Who we are</a>
          </li>
          <li>
            <a ui-sref="adminWhatWeDo">What we do</a>
          </li>
          <li>
            <a href="">Where we are</a>
          </li>
          <li>
            <a ui-sref='adminCareerSupport'>Career support</a>
          </li>
          <li>
            <a href="">Pay and benefits</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="career-column">
          <li class="career-column-head">
            <span>Manage What can I do at UN?</span>
          </li>
          <li>
            <a href="">What we look for</a>
          </li>
          <li>
            <a href="">Job Networks</a>
          </li>
          <li>
            <a href="">Career paths</a>
          </li>
          <li>
            <a href="">Working in the field</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="career-column">
          <li class="career-column-head">
            <span>Manage What are my career options?</span>
          </li>
          <li>
            <a href="">Staff categories</a>
          </li>
          <li>
            <a href="">Young professionals programme</a>
          </li>
          <li>
            <a href="">Competitive examinations for language professionals</a>
          </li>
          <li>
            <a href="">Global General Service Test</a>
          </li>
          <li>
            <a href="">Junior Professional Officer Programme</a>
          </li>
          <li>
            <a href="">Volunteer programme</a>
          </li>
          <li>
            <a href="">Internship programme</a>
          </li>
          <li>
            <a href="">Temporary jobs</a>
          </li>
          <li>
            <a href="">Consultants</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6">
        <ul class="career-column-last">
          <li class="career-column-head">
            <span>Manage How do I apply?</span>
          </li>
          <li>
            <a href="">Job openings</a>
          </li>
          <li>
            <a href="">Creating your job application</a>
          </li>
          <li>
            <a href="">Application process</a>
          </li>
          <li>
            <a href="">At your interview</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>