<nav class="navbar dashboard navbar-expand-lg " color-on-scroll="500" ng-controller="dashboardController">
  <div class=" container-fluid  ">
    <a class="navbar-brand" href="#pablo"> Dashboard </a>
    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="dropdown">
            <i class="nc-icon nc-palette"></i>
            <span class="d-lg-none">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nc-icon nc-zoom-split"></i>
            <span class="d-lg-block">&nbsp;Search</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <span class="no-icon">Menu</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" ui-sref='adminUsers'>User Management</a>
            <a class="dropdown-item" >Manage Home page</a>
            <a class="dropdown-item" ui-sref="adminWhoWeAre">Manage Who We are page</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pablo">
            <span class="no-icon">Log out</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="bg-white dashboard-container">
  <h1>Welcome</h1>
</div>