<div class="limiter" ng-controller="loginController">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form">
        <span class="login100-form-title p-b-26">
          Welcome
        </span>
        <span class="login100-form-title p-b-48">
          <i class="zmdi zmdi-font"></i>
        </span>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="email" ng-model="email" placeholder="Enter Email" ng-required="true">
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="text" name="username" ng-model="username" placeholder="Enter Username" ng-required="true">
        </div>
        <div class="wrap-input100 validate-input">
          <input class="input100" type="password" name="pass" ng-model="password" placeholder="Enter Password" ng-required="true">
        </div>
        <div class="container-login100-form-btn">
          <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" ng-click="signup()">
              Signup
            </button>
          </div>
        </div>
        <div class="text-center p-t-115">
          <span class="txt1">
            already have acoount ?
          </span>
          <a class="txt2" ui-sref="adminLogin">
            Login
          </a>
        </div>
      </form>
    </div>
  </div>
</div>