<div class="bg-white dashboard-container" ng-controller="WhatWeDoController" ng-init='whatwedoEntitiesInit()'>
  <div>
    <p class="headingforparagraph">What We Do Entities<button class="btn btn-primary create-user" ng-click='createEntity()'>Create
        Entity</button><a class="btn btn-primary create-user white-text" ui-sref='adminWhatWeDo'>What We Do
        Page</a><a ui-sref='adminDashboard' class="btn btn-default create-user">Dashboard</a></p>
  </div>
  <table class="table" ng-if='allEntities.length'>
    <thead>
      <tr>
        <th>FileType</th>
        <th>FileUrl</th>
        <th>Link</th>
        <th>Description</th>
        <th>Language</th>
        <th>Active</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="entity in allEntities">
        <td ng-bind="entity.fileType"></td>
        <td>
          <img ng-if="entity.fileType=='Image'" ng-src="{{entity.fileUrl}}" width="50px">
          <video ng-if="entity.fileType=='Video'" ng-src="{{entity.fileUrl}}" width="50px"></video>
        </td>
        <td><a href="{{entity.link}}" target="_blank">{{entity.link}}</a></td>
        <td ng-bind-html="returnDescription(entity.description)"></td>
        <td ng-bind="entity.language"></td>
        <td>{{ entity.isDeleted ? 'False' : 'True' }}</td>
        <td><span ng-click="editEntity(entity)"><i class="far fa-edit tabledata"></i></span></td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="createEntityModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Create Entity</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="language">Language</label>
              <div class="description-type">
                <input type="radio" id="language" ng-model='language' value="English" ng-change="changeMedia()">English
                <input type="radio" class="language-radio" id="language" ng-model='language' value="French" ng-change="changeMedia()">French
              </div>
            </div>
            <div class="form-group">
              <label for="description">Select the type</label>
              <div class="description-type">
                <input type="radio" class="description-radio" id="description" ng-model='descriptionType' value="Image"
                  ng-change="changeMedia()">Image
                <input type="radio" class="description-radio" id="description" ng-model='descriptionType' value="Video"
                  ng-change="changeMedia()">Video
              </div>
              <select ng-show="descriptionType==='Video' || descriptionType==='Image'" class="form-control" ng-model="selectedFile">
                <option value="" disabled>Select File</option>
                <option ng-repeat="media in allMedia" value="{{media}}">{{media.description}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="link">Link</label>
              <input type="text" class="form-control" id="link" ng-model='link' required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea ng-model='description' class="form-control" required></textarea>
            </div>
            <div class="form-group">
              <label for="active">Active</label>
              <div class="description-type">
                <input type="radio" id="active" ng-model='isDeleted' value=false>Active
                <input type="radio" class="language-radio" id="active" ng-model='isDeleted' value=true>InActive
              </div>
            </div>
            <div class="modalbutton">
              <button type="submit" class="btn btn-primary" ng-click="saveEntity()">Create Entity</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateEntityModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Update Entity</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="language">Language</label>
              <div class="description-type">
                <input class="form-control" type="text" ng-model='entityData.language' ng-readonly="true">
              </div>
            </div>
            <div class="form-group">
              <label for="description">Type of File</label>
              <div class="description-type">
                <input type="radio" id="description" ng-model='entityData.fileType' value="{{entityData.fileType}}">{{entityData.fileType}}
              </div>
              <span ng-show="entityData.fileType==='Video' || entityData.fileType==='Image'">
                <img ng-show="entityData.fileType==='Image'" ng-src="{{entityData.fileUrl}}" alt="Description" width="100px" />
                <video ng-show="entityData.fileType==='Video'" ng-src="{{entityData.fileUrl}}" width="200px" controls></video>
                <button ng-click="changeEntityMediaUpdate()">click here to change</button>
                <select ng-show="showMediaChange" class="form-control" ng-model="selectedFile">
                  <option value="" disabled>Select File</option>
                  <option ng-repeat="media in allMedia" value="{{media}}">{{media.description}}</option>
                </select>
              </span>
            </div>
            <div class="form-group">
              <label for="title">Link</label>
              <input type="text" class="form-control" id="title" ng-model='entityData.link' required>
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" ng-model="entityData.description" required></textarea>
            </div>

            <div class="form-group">
              <label for="active">Active</label>
              <div class="description-type">
                <input type="radio" id="active" ng-model='entityData.isDeleted' ng-value=false>Active
                <input type="radio" class="language-radio" id="active" ng-model='entityData.isDeleted' ng-value=true>InActive
              </div>
            </div>
            <div class="modalbutton">
              <button type="submit" class="btn btn-primary" ng-click="updateEntity()">Update Entity</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>