<div class="bg-white dashboard-container" ng-controller="WhatWeDoController" ng-init='whatwedoInit()'>
  <div>
    <p class="headingforparagraph">What We Do Section<button class="btn btn-primary create-user" ng-click='createSection()'>Create
        New Section</button><a ui-sref='adminDashboard' class="btn btn-default create-user">Dashboard</a></p>
  </div>
  <table class="table" ng-if='allSection.length'>
    <thead>
      <tr>
        <th>Sequence</th>
        <th>Heading</th>
        <th>Description</th>
        <th>Alignment</th>
        <th>Description Type</th>
        <th>Language</th>
        <th>Active</th>
        <th>Update</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="section in allSection">
        <td ng-bind="section.sequence"></td>
        <td ng-bind-html="returnDescription(section.heading)"></td>
        <td ng-if="section.descriptionType=='Image'"><img ng-src="{{section.description}}" alt="Description" width="50px" /></td>
        <td ng-if="section.descriptionType=='Video'"><a href='{{baseUrl}}{{section.description}}' target="_blank"><video
              ng-src="{{section.description}}" width="100px"></video></a></td>
        <td ng-if="section.descriptionType=='Text'" ng-bind-html="returnDescription(section.description)"></td>
        <td ng-bind="section.alignment"></td>
        <td ng-bind="section.descriptionType"></td>
        <td ng-bind="section.language"></td>
        <td>{{ section.isDeleted ? 'False' : 'True' }}</td>
        <td><span ng-click="editSection(section)"><i class="far fa-edit tabledata"></i></span></td>
      </tr>
    </tbody>
  </table>
  <div class="modal fade" id="sectionCreateModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Create Section</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="heading">Heading</label>
              <input type="text" class="form-control" id="heading" ng-model='heading'>
            </div>
            <div class="form-group">
              <label for="description">Select the type of description</label>
              <div class="description-type">
                <input type="radio" id="description" ng-model='descriptionType' value="Text">Text
                <input type="radio" class="description-radio" id="description" ng-model='descriptionType' value="Image">Image
                <input type="radio" class="description-radio" id="description" ng-model='descriptionType' value="Video">Video
              </div>
              <textarea ng-show="descriptionType==='Text'" ng-model='description' class="form-control"></textarea>
              <input ng-show="descriptionType==='Video' || descriptionType==='Image'" type="file" class="form-control" ng-model='file' base-sixty-four-input />
            </div>
            <div class="form-group">
              <label for="sequence">Sequence</label>
              <input type="number" class="form-control" id="sequence" ng-model='sequence' required>
            </div>
            <div class="form-group">
              <label for="alignment">Alignment</label>
              <div class="description-type">
                <input type="radio" id="alignment" ng-model='alignment' value="Top">Top
                <input type="radio" class="alignment-radio" id="alignment" ng-model='alignment' value="Bottom">Bottom
                <input type="radio" class="alignment-radio" id="alignment" ng-model='alignment' value="Left">Left
                <input type="radio" class="alignment-radio" id="alignment" ng-model='alignment' value="Right">Right
              </div>
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <div class="description-type">
                <input type="radio" id="language" ng-model='language' value="English">English
                <input type="radio" class="language-radio" id="language" ng-model='language' value="French">French
              </div>
            </div>
            <div class="form-group">
              <label for="active">Active</label>
              <div class="description-type">
                <input type="radio" id="active" ng-model='isDeleted' value=false>Active
                <input type="radio" class="language-radio" id="active" ng-model='isDeleted' value=true>InActive
              </div>
            </div>
            <div class="modalbutton">
              <button type="submit" class="btn btn-primary" ng-click="saveSection()">Create Section</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="sectionUpdateModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Update Section</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="heading">Heading</label>
              <input type="text" class="form-control" id="heading" ng-model='sectionData.heading'>
            </div>
            <div class="form-group">
              <label for="description">Select the type of description</label>
              <div class="description-type">
                <input type="radio" id="description" ng-model='sectionData.descriptionType' value="{{sectionData.descriptionType}}">{{sectionData.descriptionType}}
              </div>
              <textarea ng-show="sectionData.descriptionType==='Text'" ng-model='sectionData.description' class="form-control"></textarea>
              <span ng-show="sectionData.descriptionType==='Video' || sectionData.descriptionType==='Image'">
                <img ng-show="sectionData.descriptionType==='Image'" ng-src="{{sectionData.description}}" alt="Description" width="100px" />
                <video ng-show="sectionData.descriptionType==='Video'" ng-src="{{sectionData.description}}" width="200px" controls></video>
                <button ng-click="changeMedia()">click here to change</button>
                <input ng-show="showMediaChange" type="file" class="form-control" ng-model='sectionData.file' base-sixty-four-input />
              </span>
            </div>
            <div class="form-group">
              <label for="sequence">Sequence</label>
              <input type="number" class="form-control" id="sequence" ng-model='sectionData.sequence' required>
            </div>
            <div class="form-group">
              <label for="alignment">Alignment</label>
              <div class="description-type">
                <input type="radio" id="alignment" ng-model='sectionData.alignment' value="Top">Top
                <input type="radio" class="alignment-radio" id="alignment" ng-model='sectionData.alignment' value="Bottom">Bottom
                <input type="radio" class="alignment-radio" id="alignment" ng-model='sectionData.alignment' value="Left">Left
                <input type="radio" class="alignment-radio" id="alignment" ng-model='sectionData.alignment' value="Right">Right
              </div>
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <div class="description-type">
                <input class="form-control" type="text" ng-model='sectionData.language' ng-readonly="true">
              </div>
            </div>
            <div class="form-group">
              <label for="active">Active</label>
              <div class="description-type">
                <input type="radio" id="active" ng-model='sectionData.isDeleted' ng-value=false>Active
                <input type="radio" class="language-radio" id="active" ng-model='sectionData.isDeleted' ng-value=true>InActive
              </div>
            </div>
            <div class="modalbutton">
              <button type="submit" class="btn btn-primary" ng-click="updateSection()">Update Section</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>